.main{
      margin-top: 200px;
      margin-left: 198px;
      overflow: hidden;
      height: 300px;
      width: 300px;
      position: relative;
      border-radius: 169px;
}
.main li{
  margin-left:-91px;
  width: 200px;
  height: 150px;
  border: solid 1px #efefef;
  position: absolute;
  list-style: none;
  background-color: #418194;
}
ul{
    margin: 0;
}
ul li:hover{
    background-color: #dceaee;
}
ul li:first-child{
    transform: rotate(0deg) skew(30deg);
    transform-origin: 100% 100%;
}
ul li:nth-child(2){
    transform: rotate(60deg) skew(30deg);
    transform-origin: 100% 100%;
}
ul li:nth-child(3){
    transform: rotate(120deg) skew(30deg);
    transform-origin: 100% 100%;
}
ul li:nth-child(4){
    transform: rotate(180deg) skew(30deg);
    transform-origin: 100% 100%;
}
ul li:nth-child(5){
    transform: rotate(240deg) skew(30deg);
    transform-origin: 100% 100%;
}
ul li:nth-child(6){
    transform: rotate(300deg) skew(30deg);
    transform-origin: 100% 100%;
}
ul li div{
    position: absolute;
    right: -26px;
    bottom: 59px;
    transform: skew(-30deg) rotate(-59deg);
    background-color: #dceaee;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.main_button{
    position: absolute;
      height: 130px;
      width: 130px;
      background-color: #00536c;
      margin-left: 86px;
      margin-top: 88px;
      border-radius: 100px;
      z-index: 10;
      cursor: pointer;
}
.display_none{
    display: none;
}
